header {
            background-image: url(../images/keyboard.png);
            background-repeat: no-repeat;
            background-size: contain;
            background-position: center;
            padding: 50px;
    
        }